extends layout.pug 

block main
    .off-canvas-content(data-off-canvas-content='')
        include partials/title-bar.pug
        
        include partials/back-bar.pug

        article.grid-container.portfolio-intro.portfolio-project
            .grid-x
                .cell.small-6.medium-9.large-9

                    h1 #{project.project_name}

                    p.lead.text-light
                        #{project.description}
                
                .cell.portfolio-meta.small-6.medium-2.large-3

                    h6 Technologies 
                    ul
                        each technology in project.technologies
                            li= technology   
                     
                    if project.live_link
                        a.button.expanded(href=`${project.live_link}`) Live Demo
                    else
                        //- TODO: Disable link (styling)
                        a Live link not available 
                    
                    if project.github_link
                        a.button.expanded(href=`${project.github_link}`) GitHub Repo
                    else 
                        //- TODO: Disable link (styling)
                        a GitHub link not available 
             
            each link, index in project.image_urls 
                //- first img is always profile img 
                if (index > 0)
                    img.image(src=`../public/images/${link}`)
                
            
//- PLACEHOLDER img.image(src='https://placehold.it/1200x550')